<% @bars.each do |bar| %>

<div class="panel-group" id="accordion">
  <div class="panel-title" data-toggle="collapse" data-target="#<%= bar.id %>">
    <div class="panel panel-default">
      <div class="title-bar">
        <div class="panel-heading">
          <h4><%= bar.name %></h4>
          <h5><%= bar.happyHourStart %>, <%= bar.happyHourEnd %></h5>
          <p><%= bar.address %></p>
        </div>
      </div>
        <div id="<%= bar.id %>" class="panel-collapse collapse">
            <div class="panel-body">
              <p><%= bar.ontap %></p>
            </div>
        </div>
    </div>
  </div>
</div>
<% end %>
